.navbar-div {
    display: flex;
    justify-content: space-between;
    column-count: 2;
    background-color: white;
    height: 7.76vh;
    margin: 0;
    padding: 0;
}

.navbar-title-div {
    display: flex;
    align-items: center;
    margin-left: 10.67%;
    min-width: 15%;
}

.navbar-title {
    color: var(--dijon-mustard);
    font-weight: normal;
    font-size:9.6px;
    text-align: center;
    vertical-align: middle;
}

.navbar-links-div {
    display: flex;
    align-items: center;
    margin-right: 3.63%;
    width: 40.5%;
}

.navbar-link {
    color: black;
    font-size:9.5px;
    text-decoration: none;
    text-align: center;
    margin: auto;
}

.navbar-link:hover {
    color: var(--dijon-mustard);
}

.sticky {
    position: sticky;
}