:root {
    --dijon-mustard: #aa955c;
}

.background-image {
    background-image: url("/img/image3.png");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 72.6vh;
    margin: 0;
    padding: 0;
}

/* TODO: text size, font, top margin? */
.header-text {
    text-align: center;
}

.services-row {
    width: auto;
    display: flex;
    padding-left: 5.8%;
    padding-right: 5.8%;
    gap: 5.8%;
    margin-top: 6.475vh;
    justify-content: space-between;
    background-color: aqua;
}

.services-background-image {
    background-image: url("/img/flower.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    width: 30.5%;
    color: white;
}

.footer-div {
    background-color: var(--dijon-mustard);
    margin-left: 5.8%;
    margin-right: 5.8%;
    margin-top: 11vh;
    height: 20vh;
    width:auto;
}

body {
    padding: 0;
    margin: 0;
    background-color: white;
}

h1 {
    color: white;
}
