:root {
    --dijon-mustard: #aa955c;
}

.navbar-div {
    display: flex;
    justify-content: space-between;
    column-count: 2;
    background-color: white;
    height: 7.76vh;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
}

.navbar-title-div {
    display: flex;
    align-items: center;
    margin-left: 10.67%;
    min-width: 15%;
}

.navbar-title {
    color: var(--dijon-mustard);
    font-weight: normal;
    font-size: 9.6px;
    text-align: center;
    vertical-align: middle;
}

.navbar-links-div {
    display: flex;
    align-items: center;
    margin-right: 3.63%;
    width: 40.5%;
}

a.navbar-link {
    color: black;
    font-size:9.5px;
    text-decoration: none;
    text-align: center;
    margin: auto;
}

.navbar-link:hover {
    color: var(--dijon-mustard);
}

.sticky {
    position: sticky;
}

.header-background-image {
    background-image: url("/Assignment1butwithasupersecretnameafteritsonoonecanguessthegithubpagesname/img/image3.png");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 550px;
    width: 100%;
    max-width: 850px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}

.header-text {
    text-align: center;
    font-family: "Cormorant", serif;
    letter-spacing: 10px;
    font-weight: bold;
    font-size: 2.5em;
    line-height: 150%;
    margin-top: 17%;
}

.body-div {
    margin: 5.8%;
    max-width: 850px;
}

.services-row {
    height: 380px;
    display: flex;
    justify-content: space-between;
}

.services-card {
    background-image: url("/Assignment1butwithasupersecretnameafteritsonoonecanguessthegithubpagesname/img/flower.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    width: 235px;
    height: 100%;
}

.services-card-text-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;
    height:100%;
    margin-left: auto;
    margin-right: auto;
    width:fit-content
}

h1.services-card-text {
    font-weight: 550;
    font-size: 1.35em;
    letter-spacing: 7px;
    width:100%;
}

p.services-card-text {
    font-family: "Cormorant", serif;
    font-weight: 500;
    letter-spacing: 1.5px;
}

a.card-button {
    font-size: x-small;
    border-width: 0.8px;
    border-color: white;
    border-style: solid;
    margin-top: auto;
    margin-bottom: auto;
    padding-top: 6px;
    padding-bottom: 8px;
    padding-left: 10px;
    padding-right: 10px;
    color:white;
    text-decoration: none;
    width: auto;
}

.card-button:hover {
    border-color: var(--dijon-mustard);
    color: var(--dijon-mustard);
    background-color: white;
}

img.services {
    width:425px;
    height:100%;
    object-fit: cover;
}

.testimonial-section {
    height: 40vh;
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

p.testimonial-text {
    color:black;
    font-size: 1.8em;
    font-family: "Cormorant", serif;
    text-align: center;
    font-weight: 600;
    margin: 0;
}

h3.testimonial-names {
    color: var(--dijon-mustard);
    font-size: x-small;
    text-align: center;
    margin-top: 40px;
}

.gallery-div {
    background-image: url("/Assignment1butwithasupersecretnameafteritsonoonecanguessthegithubpagesname/img/image2.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 480px;
    display: flex;
    flex-direction: row;
    align-content: flex-end;
}

.gallery-card {
    background-image: url("/Assignment1butwithasupersecretnameafteritsonoonecanguessthegithubpagesname/img/flower.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-right: 7%;
    margin-left: auto; 
    margin-top: auto; 
    margin-bottom: auto; 
    display: flex;
    flex-direction: column;
    justify-items: space-between;
    text-align: center;
    height: 370px;
    width: 200px;
}

h1.gallery-card-text {
    font-weight: 550;
    font-size: 1.35em;
    letter-spacing: 6px;
}

p.gallery-card-text {
    font-family: "Cormorant", serif;
    font-weight: 500;
    letter-spacing: 3px;
}

.gallery-card-button {
    font-size: x-small;
    border-width: 0.8px;
    border-color: white;
    border-style: solid;
    margin-top: auto;
    margin-bottom: auto;
}

.footer-div {
    background-color: var(--dijon-mustard);
    margin-top: 11vh;
    height: 20vh;
    width:auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.footer-contact-info-columns-div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: x-small;
    margin-top: auto;
    margin-bottom: auto;
    column-gap: 15px;
}

.vertical-divider {
    min-height: 100%;
    max-height: 100vh;
    margin-top: 0;
    color: white;
}

p.footer-text {
    margin-top:0;
    margin-bottom: auto;
}

body {
    padding: 0;
    margin: 0;
    background-color: white;
    color:white
}
