
.background-image {
    background-image: url("image3.png");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 75vh;
    margin: 0;
    padding: 0;
}

body {
    padding: 0;
    margin: 0;
    background-color: white;
}

h1 {
    color: white;
}
