
.background-image {
    background-image: url("image3.png");
    background-attachment: fixed;
    object-position: top;
    object-fit: cover;
    height: 500px;
}

body {
    padding: 0;
    margin: 0;
}

h1 {
    color: white;
}
